// Colors
// - Primary
$bodyBg: #ff7a7a;
$green: hsl(154, 59%, 51%);
// - Accent
$blue: hsl(248, 32%, 49%);
// - Neutral
$white: hsl(0, 0%, 100%);
$darkBlue: hsl(249, 10%, 26%);
$grayishBlue: hsl(246, 25%, 77%);

//Attribution
$attr_text-color: hsl(248, 32%, 49%);
$attr_grifano-color: #fff;
$attr_span: hsl(249, 10%, 26%);

// Typeface
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
$fontFamily: "Poppins", sans-serif;
$mainFontSize: 16px;
